@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-size: 20px;
}
.banner {
  background-image: linear-gradient(157deg,rgba(0,0,0,0.8),rgba(0,0,0,0.2) 75%),url(https://loremflickr.com/g/400/300/paris);
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}

.banner h1 {
  color: white;
  font-size: 50px;
}

h1, h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.description-p {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
  margin-bottom: 50px;
  font-family: "Brygada 1918", serif;
}

.container {
  max-width: 700px;
  margin: 50px auto;
}

.text-decoration-none {
  text-decoration: none;
}

.content-description, .content-title, a{
  color: rgba(0,0,0,0.6);
}

a {
  font-size: 27px;
  background: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  font-family: "Brygada 1918", serif;
}

a:hover {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,255,125,0.6186646533613445) 0%);
}

@media(max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}
@media(max-width: 992px) {
  .container {
    max-width: 700px;
  }
}
@media(max-width: 768px) {
  .container {
    max-width: 500px;
  }
}
@media(max-width: 576px) {
  .container {
    max-width: 400px;
  }
}
